<ion-header [translucent]="true">
  <ion-toolbar class="barra-header">
    <ion-title>ECD Asistencia</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="navegarCambiarContrasena()">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-general">
  <!--spinner de recarga-->
  <div *ngIf="spinnerRecarga" class="spinner-superpuesto">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <!--contenedor para los cards-->
  <div class="ion-padding">
    <!--card con datos de usuario-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido/a {{ nombre }} {{ apellido }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Correo electrónico: {{ correo }}</p>
        <p>Carrera: {{ carrera }}</p>
      </ion-card-content>
    </ion-card>

    <!--card con sedes cuando se carguen-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sedes DUOC UC</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!--mostrar skeletons si está cargando-->
        <ion-list *ngIf="skeletonsCargando">
          <ion-item *ngFor="let s of skeletons">
            <ion-thumbnail slot="start" class="skeleton-image"></ion-thumbnail>
            <ion-label>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </ion-label>
          </ion-item>
        </ion-list>
        <!--mostrar sedes cuando termine de cargar-->
        <ion-list *ngIf="!skeletonsCargando">
          <ion-item *ngFor="let sede of lista_sedes">
            <ion-thumbnail slot="start">
              <img alt="Foto de la sede" [src]="sede.imagen" />
            </ion-thumbnail>
            <ion-label>
              <p><strong>{{ sede.nombre }}</strong></p>
              <p><strong>Dirección: </strong>{{ sede.direccion }}</p>
              <p><strong>Horario: </strong>{{ sede.horario }}</p>
              <p><strong>Teléfono: </strong>{{ sede.telefono }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
